<div class="d-flex flex-column contact">
    <div class='heading'>
        <h2 class='heading_text'>We work from Monday to Saturday from 9:00 a.m. to 7:00 p.m.</h2>
    </div>
    <div class='container-fluid'>
        <div class='contact_form'>
            <div class="container-fluid form">
                <div class="form-item-container">
                    <div class="office-block">
                        <div class="icon-container">
                            <i class="fas fa-building"></i>
                        </div>
                        <h3 class='form-item'>Head Office</h3>
                        <h5 class='form-item bold_text'>SK Overseas Consultants</h5>
                        <p class='form-item'>
                            17 Albert Gardeens, LU1 3FD, Luton,
                            London- UK.
                        </p>
                        <p class='form-item'><i class="fas fa-phone-alt"></i> Call: +91 63018 27402</p>
                    </div>
                    <div class="office-block">
                        <div class="icon-container">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <h3 class='form-item'>Branch Office</h3>
                        <h5 class='form-item bold_text'>SK Overseas Consultants</h5>
                        <p class='form-item'>
                            Street No-2 Pillar No: C-1024
                            Tarnaka, Hyderabad India.
                        </p>
                        <p class='form-item'><i class="fas fa-phone-alt"></i> Call: +91 63018 27402</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>