<div class='about_container'>
  <div class='heading'>
    <h2 class='heading_text'>About Us </h2>
  </div>
  <div id="Content">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight align-items-start">
        <div class="column_attr clearfix align_justify">SK Overseas Consultants &amp;
          Immigration Services is one of the Leading Immigration Services Company in India, Specialized in
          all kind of Visa's and providing solutions to our clients who intend to relocate to other
          countries.<br>
          <br>
          With years of experience, we have an exceptional list of successful clients. SK Overseas
          Consultants is well poised to deliver authentic and quality immigration services. SK Overseas
          Consultants is run based on certain principles like honesty, transparency, integrity and as a
          result of this we have over 98.5% of success rate.<br>
          <br>
          SK Overseas Consultants is the top immigration consultants specialist for Australia and
          Canada. The company manages the administrative and non-judgmental tasks related to visa, passport,
          identity management and other citizen services for its clients. This enables them to focus
          entirely on the critical task of assessment.<br>
          <br>
          The company has successfully processed over 6 thousand applications since its inception in
          2018..<br>
          <br>
          SK Overseas Consultants provides a wide range of services to visa applicants, all aimed at
          enhancing customer experience in services with an automated and seamless process. However SK
          Overseas Consultants does not play any part in the decision-making process behind visa
          applications being granted or denied.<br>
          <br>
          SK Overseas Consultants employs highly trained and dedicated staff, and is continually
          investing in its people and technology operations. The company offers rewarding and exciting
          career opportunities across the globe.<br>
        </div>
      </div>
      <div class="p-2 bd-highlight align-items-end">

        <div class="image_wrapper">
          <img class="model" src="assets/images/Lady2.jpeg" alt="SK-overseas-con">
          <img class="logo" src='assets/images/logobg.png' alt="SK-overseas-consultants-logo" title="">
        </div>
      </div>
    </div>

  </div>
</div>