<div class='about_container'>
  <div class='heading'>
    <h2 class='heading_text'>About Us </h2>
  </div>
  <div id="Content">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight align-items-start">
        <div class="column_attr clearfix align_justify">SK Overseas Consultants &amp;
          Immigration Services is one of the leading immigration services companies in India, specializing in all kinds
          of visas and providing solutions to clients who intend to relocate to other countries.<br>
          <br>
          With years of experience, we have an exceptional list of successful clients. Our company is well poised to
          deliver authentic and quality immigration services, operating on principles like honesty, transparency, and
          integrity, resulting in a success rate of over 98.5%.<br>
          <br>
          As the top immigration consultant specialist for Australia and Canada, the company manages the administrative
          and non-judgmental tasks related to visa, passport, identity management, and other citizen services for our
          clients. This enables them to focus entirely on the critical task of assessment.<br>
          <br>
          Since our inception in 2018, the company has successfully processed more than 250 applications. They provide a
          wide range of services to visa applicants, all aimed at enhancing customer experience with an automated and
          seamless process. However, they do not play any part in the decision-making process behind visa applications
          being granted or denied<br>
          <br>
          The company employs highly trained and dedicated staff and continually invests in our people and technology
          operations, offering rewarding and exciting career opportunities across the globe.<br>
          <br>

        </div>
      </div>
      <div class="p-2 bd-highlight align-items-end">

        <div class="image_wrapper">
          <img class="model" src="assets/images/Lady2.jpeg" alt="SK-overseas-con">
          <img class="logo" src='assets/images/logobg.png' alt="SK-overseas-consultants-logo" title="">
        </div>
      </div>
    </div>

  </div>
</div>