<div class='visa_container'>
    <div class="study_visa ">
        <div>
                <div class='heading'>
                        <h2 class='heading_text'>STUDY VISA'S</h2>
                    </div>
            <div class="study_visa_countries">
                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/USA.png'> <a class='country_name'
                            href="#">USA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/UK.png'> <a class='country_name'
                            href="#">UK</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/Canada.png'> <a class='country_name'
                            href="#">CANADA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/AUSTRALIA.png'> <a class='country_name'
                            href="#">AUSTRALIA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/IRELAND.png'> <a class='country_name'
                            href="#">IRELAND</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/GERMANY.png'> <a class='country_name'
                            href="#">GERMANY</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SWITZERLAND.png'> <a class='country_name'
                            href="#">SWITZERLAND</a></li>
                </ul>

                <ul class='list_of_countries'>

                    <li><img class="icon" src='assets/images/countries_flags/NEW_ZEALAND.png'> <a class='country_name'
                            href="#">NEW ZEALAND</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/ITALY.png'> <a class='country_name'
                            href="#">ITALY</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/FRANCE.png'> <a class='country_name'
                            href="#">FRANCE</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/NETHERLANDS.png'> <a class='country_name'
                            href="#">NETHERLANDS</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/DUBAI.png'> <a class='country_name'
                            href="#">DUBAI</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SINGAPORE.png'> <a class='country_name'
                            href="#">SINGAPORE</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/DENMARK.png'> <a class='country_name'
                            href="#">DENMARK</a></li>
                </ul>
                <ul class='list_of_countries'>

                    <li><img class="icon" src='assets/images/countries_flags/AUSTRIA.png'> <a class='country_name'
                            href="#">AUSTRIA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SWEDEN.png'> <a class='country_name'
                            href="#">SWEDEN</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SPAIN.png'> <a class='country_name'
                            href="#">SPAIN</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/HUNGARY.png'> <a class='country_name'
                            href="#">HUNGARY</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/CYPRUS.png'> <a class='country_name'
                            href="#">CYPRUS</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/FINLAND.png'> <a class='country_name'
                            href="#">FINLAND</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/MALAYSIA.png'> <a class='country_name'
                            href="#">MALAYSIA</a></li>
                </ul>
                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/RUSSIA.png'> <a class='country_name'
                            href="#">RUSSIA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/MALTA.png'> <a class='country_name'
                            href="#">MALTA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/JAPAN.png'> <a class='country_name'
                            href="#">JAPAN</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/BELGIUM.png'> <a class='country_name'
                            href="#">BELGIUM</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SOUTH_KOREA.png'> <a class='country_name'
                            href="#">SOUTH KOREA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/LITHUANIA.png'> <a class='country_name'
                            href="#">LITHUANIA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/GEORGIA.png'> <a class='country_name'
                            href="#">GEORGIA</a></li>
                </ul>

                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/CHINA.png'> <a class='country_name'
                            href="#">CHINA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/VIETNAM.png'> <a class='country_name'
                            href="#">VIETNAM</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/MAURITUS.png'> <a class='country_name'
                            href="#">MAURITUS</a></li>
                </ul>


            </div>
        </div>
    </div>
    <div class="work_visa">
        <div>
            <h4>WORK VISA</h4>
            <div class="study_visa_countries">
                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/AUSTRALIA.png'> <a class='country_name'
                            href="#">AUSTRALIA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/USA.png'> <a class='country_name'
                            href="#">USA</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/UK.png'> <a class='country_name'
                            href="#">UK</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/Canada.png'> <a class='country_name'
                            href="#">CANADA</a></li>
                </ul>
                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/LUXEMBURG.png'> <a class='country_name'
                            href="#">LUXEMBURG</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/GERMANY.png'> <a class='country_name'
                            href="#">GERMANY</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/IRELAND.png'> <a class='country_name'
                            href="#">IRELAND</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/DUBAI.png'> <a class='country_name'
                            href="#">DUBAI</a></li>
                </ul>

                <ul class='list_of_countries'>
                    <li><img class="icon" src='assets/images/countries_flags/NEW_ZEALAND.png'> <a class='country_name'
                            href="#">NEW ZEALAND</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/ITALY.png'> <a class='country_name'
                            href="#">ITALY</a></li>
                    <li><img class="icon" src='assets/images/countries_flags/SWITZERLAND.png'> <a class='country_name'
                            href="#">SWITZERLAND</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='all_countries'>
        <h4>VISIT VISIA</h4>
        <div class='all_countries_container_wrapper'>
            <img class='all_countries-flags_image' src='assets/images/countries_flags/all_countries-flags.jpg'>
            <p class='allCountries' href="#">WE PROVIDE VISITUING VISA FOR ALL COUNTIRES</p>


        </div>
    </div>
</div>